# new trip form

<h1> Create a new trip </h1>

<form action='/trips' method='POST'>
    Destination: <input type=text name='destination'>
    Date: <input type=date name='date'>
    Budjet: <input type=text name='budjet'>
    <input type=submit>
</form>