<h1> Login here </h1>

<form action='/users/login' method="POST">
    Username: <input type=text name="username"><br>
    <br>
    Password: <input type=password name="password"><br>
    <br>
    <input type=submit><br>
    <br>
<form>

Need to create an account?<br>
<a href="/users/signup">Sign up here</a>